.first-theme {
    background-color: var(--light-gray);
    color: var(--very-dark-grayish-yellow);
    transition: all 0.25s ease-in-out;
}

.theme-buttons-first {
    background-color: var(--grayish-red);
}

.active-button-first {
    background-color: var(--orange);
}

.display-container-first {
    background-color: var(--very-light-gray);
}

.calc-buttons-container-first {
    background-color: var(--grayish-red);
}

.normal-button-first {
    background-color: var(--light-grayish-yellow);
    box-shadow: 0px 4px var(--dark-grayish-orange);
}

.delete-button-first  {
    background-color: var(--dark-moderate-cyan);
    color: var(--white);
    box-shadow: 0px 4px var(--very-dark-cyan);
}

.reset-button-first  {
    background-color: var(--dark-moderate-cyan);
    color: var(--white);
    box-shadow: 0px 4px var(--very-dark-cyan);
}
.equal-button-first  {
    background-color: var(--orange);
    color: var(--white);
    box-shadow: 0px 4px var(--dark-orange);
}




.second-theme {
    background-color: var(--very-dark-desaturated-blue);
    color: var(--white);
    transition: all 0.25s ease-in-out;
}

.theme-buttons-second {
    background-color: var(--very-dark-desaturated-blue-two);
}

.active-button-second {
    background-color: var(--red);
}

.display-container-second {
    background-color: var(--very-dark-desaturated-blue-three);
}

.calc-buttons-container-second {
    background-color: var(--very-dark-desaturated-blue-two);
}

.normal-button-second {
    background-color: var(--grayish-orange);
    box-shadow: 0px 4px var(--light-grayish-orange);
}

.delete-button-second  {
    background-color: var(--desaturated-dark-blue);
    color: var(--white);
    box-shadow: 0px 4px var(--desaturated-dark-blue-two);
}

.reset-button-second {
    background-color: var(--desaturated-dark-blue);
    color: var(--white);
    box-shadow: 0px 4px var(--desaturated-dark-blue-two);
}

.equal-button-second {
    background-color: var(--red);
    color: var(--white);
    box-shadow: 0px 4px var(--dark-red);
}




.third-theme {
    background-color: var(--very-dark-violet);
    color: var(--yellow);
    transition: all 0.25s ease-in-out;
}

.theme-buttons-third {
    background-color: var(--very-dark-violet-two);
}

.active-button-third {
    background-color: var(--pure-cyan);
}

.display-container-third {
    background-color: var(--very-dark-violet-two);
}

.calc-buttons-container-third {
    background-color: var(--very-dark-violet-two);
}

.normal-button-third {
    background-color: var(--very-dark-violet-three);
    color: var(--yellow);
    box-shadow: 0px 4px var(--dark-magenta-two);
}

.delete-button-third  {
    background-color: var(--dark-violet);
    color: var(--white);
    box-shadow: 0px 4px var(--dark-magenta);
}

.reset-button-third {
    background-color: var(--dark-violet);
    color: var(--white);
    box-shadow: 0px 4px var(--dark-magenta);
}

.equal-button-third {
    background-color: var(--pure-cyan);
    color: var(--very-dark-blue);
    box-shadow: 0px 4px var(--soft-cyan);
}