.title-theme-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.title-theme-container h3 {
    font-size: 45px;
}

.theme-toggle {
    display: flex;
    align-items: flex-end;
    gap: 1rem;
}

.theme-toggle h6 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    margin-bottom: 0.4rem;
}

.theme-container {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.theme-numbers {
    display: flex;
    justify-content: space-between;
    font-weight: var(--fw-semi-bold);
    font-size: 15px;
    width: 62px;
    margin-left: 0.45rem;
}

.theme-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px; 
    width: 75px;
    padding: 0.35rem 0.25rem;
}

.theme-button {
    height: 16px;
    width: 16px;
    background-color: transparent;
    border-radius: 50%;
}
